extends /layouts/application.pug

block content
  .container
    h1.h1.text-center User settings

    .row
      .col-9
        h3.h3 Information
        .bg-light.rounded.p-3.mb-4
          +formFor(f, { url: urlFor('user', f.object.id), method: 'patch' })
            +input(f, 'email')
            +input(f, 'firstName')
            +input(f, 'lastName')
            +button(f)

        h3.h3 Password
        .bg-light.rounded.p-3.mb-4
          +formFor(p, { url: urlFor('user', p.object.id), method: 'patch' })
            +input(p, 'current', { as: 'password' })
            +input(p, 'password', { as: 'password' })
            +input(p, 'confirm', { as: 'password' })
            +button(p)

      .col-3
        - const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }
        - const createdAt = new Date(user.createdAt).toLocaleString('en-US', options)
        - const updatedAt = new Date(user.updatedAt).toLocaleString('en-US', options)

        h5.h5 User is created at:
        p= createdAt

        h5.h5 User is updated at:
        p= updatedAt

        +buttonTo(urlFor('user', f.object.id), 'delete')(class='btn-sm btn-danger' value='Delete User')
