extends /layouts/application.pug

block content
  .container
    h1.h1.text-center Edit user

    +formFor(f, { url: urlFor('user', user.id), method: 'patch' })
      +input(f, 'email')
      +input(f, 'firstName')
      +input(f, 'lastName')
      +input(f, 'password', { as: 'password' })
      +button(f)


    .row.justify-content-md-center
      .col-md-6
        +buttonTo(urlFor('user', user.id), 'delete')(class="btn btn-danger" value="Delete User")
