extends /layouts/application.pug

block content
  .container
    table.table.table-striped
      thead
        tr
          th Full Name
          th Email
          th Created At
      tbody
        each user in users
          tr
            td
              a(href= urlFor('user', user.id ))= user.fullName
            td= user.email
            td= user.createdAt
