extends /layouts/application.pug

block content
  h1.h1.text-center= user.fullName

  +formFor(f, { url: urlFor('userUpdate', { id: user.id }), method: 'patch' })
    +input(f, 'email')
    +input(f, 'firstName')
    +input(f, 'lastName')
    +input(f, 'password', { as: 'password' })
    +button(f)


  .row.justify-content-md-center
    .col-md-6
      +buttonTo(urlFor('deleteUser', { id: user.id }), 'delete')(class="btn btn-danger" value="Delete User")
