extends /layouts/application.pug

block content
  h1.h1.text-center=t('views.tags.edit.title')

  +formFor(f, { url: urlFor('tag', tag.id), method: 'patch' })
    +input(f, 'name', { as: 'text', label: t('views.tags.tagName'), required: true })
    +button(f, t('views.tags.edit.submit'))
