extends /layouts/application.pug

block content
  .container
    h1.h1.text-center Edit task

    +formFor(f, { url: urlFor('task', f.object.id), method: 'patch' })
      +input(f, 'name')
      +input(f, 'description')
      +select(f, 'assignedTo', users, 'fullName')
      +select(f, 'status', taskStatuses, 'name')
      +select(f, 'tags', tags, 'name', 0, true, selectedTags)
      +button(f)

    .row.justify-content-md-center
      .col-md-2
        +buttonTo(urlFor('task', f.object.id), 'delete')(class="btn btn-danger" value="Delete Task")
