extends /layouts/application.pug

block content
  h1.h1.text-center=t('views.tasks.edit.title')

  +formFor(f, { url: urlFor('task', f.object.id), method: 'patch' })
    +input(f, 'name', { as: 'text', label: t('views.tasks.taskName'), required: true })
    +textarea(f, 'description', { label: t('views.tasks.description'), rows: 3 })
    +select(f, 'assignedTo', users, 'fullName', { label: t('views.tasks.assignedTo'), required: true })
    +select(f, 'status', taskStatuses, 'name', { label: t('views.tasks.status'), required: true })
    +input(f, 'tags', { description: t('views.tasks.separator'), label: t('views.tasks.tags') })
    +button(f, t('views.tasks.edit.submit'))

  .row.justify-content-md-center.text-center
    .col-md-2
      +buttonTo(urlFor('task', f.object.id), 'delete')(class='btn-danger' value= t('views.tasks.edit.deleteTask'))
