extends /layouts/application.pug

block content
  .container
    +formFor(f, { url: urlFor('tasks'), method: 'post' })
      +input(f, 'name', { as: 'text', label: 'Task name' })
      +input(f, 'description', { as: 'text', label: 'Description' })
      +select(f, 'assignedTo', users, 'fullName', { label: 'Assigned to' })
      +select(f, 'status', taskStatuses, 'name', { label: 'Status' })
      +select(f, 'tags', tags, 'name', { label: 'Tags', multiple: true }, selectedTags)
      +button(f, 'Create')
