extends /layouts/application.pug

block content
  .jumbotron.jumbotron-flued.mt-n3
    .container
      h2.display-4 Welcome to cool task manager!
      p.lead It's the best task manager ever!
      hr.my-4
      p Plan, manage and track all your team's tasks in one flexible software. Move fast and adapt quickly with monday.com
