extends /layouts/application.pug

block content
  .container
    if message
      .alert.alert-warning.m-3= message
    +formFor(f, { url: urlFor('session'), method: 'post' })
      +input(f, 'email')
      +input(f, 'password', { as: 'password' })
      +button(f)
