extends /layouts/application.pug

block content
  h1.h1.text-center.mb-4=t('views.taskStatuses.edit.title')

  +formFor(f, { url: urlFor('taskStatus', taskStatus.id), method: 'patch' })
    +input(f, 'name', { as: 'text', label: t('views.taskStatuses.statusName') })
    +button(f, t('views.taskStatuses.edit.submit'))

  .row.justify-content-md-center.text-center
    .col-md-2
      +buttonTo(urlFor('taskStatus', taskStatus.id), 'delete')(class='btn-danger' value=t('views.taskStatuses.edit.deleteStatus'))
